<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			${hibernate.connection.driver_class}
		</property>
		<property name="hibernate.connection.url">
			${hibernate.connection.url}
		</property>
		<property name="hibernate.connection.username">
			${hibernate.connection.username}
		</property>
		<property name="hibernate.connection.password">
			${hibernate.connection.password}
		</property>
		<property name="hibernate.dialect">
			${hibernate.dialect}
		</property>
		<property name="hibernate.cache.provider_class">
			${hibernate.cache.provider_class}
		</property>
		<property name="hibernate.transaction.factory_class">
			${hibernate.transaction.factory_class}
		</property>
		<property name="hibernate.show_sql">
			${hibernate.show_sql}
		</property>
		<property name="hibernate.hbm2ddl.auto"><!-- validate -->
			update
		</property>
		<property name="hibernate.jdbc.batch_size">10</property>
		<property name="hibernate.cache.use_second_level_cache">
			false
		</property>
		<property name="hibernate.cache.use_query_cache">
			false
		</property>
		<property name="hibernate.transaction.flush_before_completion">
			true
		</property>
		
        <mapping
            class="com.googlecode.hibernate.audit.model.clazz.AuditClass" />
        <mapping
            class="com.googlecode.hibernate.audit.model.clazz.AuditClassProperty" />
        <mapping
            class="com.googlecode.hibernate.audit.model.AuditOperation" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.AuditTransaction" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.AuditTransactionComponentRecord" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.AuditTransactionEntityRecord" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.AuditTransactionRecord" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.AuditTransactionRecordField" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.AuditTransactionRecordFieldComponentReferenceValue" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.AuditTransactionRecordFieldEntityReferenceValue" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.AuditTransactionRecordFieldSimpleValue" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.AuditTransactionRecordFieldValue" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.value.AuditValue" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.value.ComponentReferenceAuditValue" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.value.EntityReferenceAuditValue" />
        <mapping
            class="com.googlecode.hibernate.audit.model.transaction.record.field.value.SimpleAuditValue" />
		
		<!--  TEST CLASSES -->
		<mapping
			class="com.googlecode.hibernate.audit.model.simpleentity.SimpleEntity" />
        <mapping
            class="com.googlecode.hibernate.audit.model.simpleentity.SimpleComponent" />
        <mapping
            class="com.googlecode.hibernate.audit.model.simpleentity.SimpleEmbeddedComponent" />
		<mapping
			class="com.googlecode.hibernate.audit.model.collection.Parent" />
		<mapping
			class="com.googlecode.hibernate.audit.model.collection.Child" />
            

		<event type="post-collection-remove">
			<listener
				class="com.googlecode.hibernate.audit.event.AuditPostCollectionRemoveEventListener" />
		</event>
		<event type="post-collection-update">
			<listener
				class="com.googlecode.hibernate.audit.event.AuditPostCollectionUpdateEventListener" />
		</event>
		<event type="post-collection-recreate">
			<listener
				class="com.googlecode.hibernate.audit.event.AuditPostCollectionRecreateEventListener" />
		</event>
	    <event type="post-delete">
            <listener
                class="com.googlecode.hibernate.audit.event.AuditPostDeleteEventListener" />
        </event>
        <event type="post-update">
            <listener
                class="com.googlecode.hibernate.audit.event.AuditPostUpdateEventListener" />
        </event>
        <event type="post-insert">
            <listener
                class="com.googlecode.hibernate.audit.event.AuditPostInsertEventListener" />
        </event>
	</session-factory>
</hibernate-configuration>
