<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t] %p %c %x - %m%n"/>
        </layout>
	</appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="File" value="./target/test.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Threshold" value="ALL"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t] %p %c %x - %m%n"/>
        </layout>
    </appender>

    <logger name="com.googlecode.hibernate.audit">
		<level value="ALL"/>
        <!-- <level value="DEBUG"/> -->
    </logger>

    <root>
		<priority value="info"/>
		<appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
